body { font-family: 'Roboto', sans-serif; }
#hero {
  background: url('/assets/img/enewallscaled.png');
  background-attachment: fixed;
  color: #fff;
}

#hero p {
    font-size: 1.2em
}

#hero h1, .hero_emphasis {
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

.navbar, .footer {
    background: #f1e7fe
}

html {
    position: relative;
    min-height: 100%;
  }

body {
    margin-bottom: 100px;
}

.footer {
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height: 80px; /* Vertically center the text there */
  }

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  text-decoration: none;
  color: #fff;
}

a:active {
  position: relative;
  top: 1px;
}

#walk {
  height: 255px;
  width: 220px;
  background: url('/assets/img/walk.png') -10px -10px;
}

.card {
  background: #f1e7fe
}

.arrow_box {
	position: relative;
	background: #6A70B0;
  border: 4px solid #f1e7fe;
  width: 30rem;
  margin-bottom: 50px;
  margin-top: 25px;
}

.arrow_box p {
  margin: 10px;
  color: #fff;
  text-align: center;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(106, 112, 176, 0);
	border-top-color: #6A70B0;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(241, 231, 254, 0);
	border-top-color: #f1e7fe;
	border-width: 36px;
	margin-left: -36px;
}